<!-- Fixed navbar -->
<div id="menu" class="navbar navbar-inverse navbar-fixed-top shadow" >
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Progressus HTML5 template"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#home">首 页</a></li>
                <li><a href="#service">职 位</a></li>
                <li><a href="#further">服 务</a></li>

                <li><a href="#contact">联系我们</a></li>
                <li><a class="btn" href="#join">登录 / 注册</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->